<h1>Content Kit Experiments</h1>

<div class="experiment">
  <h2>Persist content to Firebase</h2>

  <p>
    This saves content to Firebase on-change and also reacts to changes in Firebase.
  </p>

  {{my-content-kit-editor mobiledoc=editorContent on-change=(action "editorChanged")}}

  <pre>{{stringify-json _editorContent}}</pre>
</div>

<div class="experiment">
  <h2>Capture enter to submit</h2>

  <p>
    Pressing enter should trigger an action &amp; not create a new line.
  </p>
  <p>
    Shift-enter should still create a new line.
  </p>

  {{my-content-kit-editor on-key-down=(action "captureEnter")}}

  {{#if enterCaptured}}
    <p>Enter captured</p>
  {{/if}}
</div>


<div class="experiment">
  <h2>Capture tab</h2>

  <p>
    Pressing tab should trigger an action &amp; and not move focus.
  </p>

  {{content-kit-editor on-key-down=(action "captureTab")
  }}

  {{#if tabCaptured}}
    <p>Tab captured: {{tabCaptured}}</p>
  {{/if}}
</div>

<div class="experiment">
  <h2>Cursor navigation between editors</h2>

  <p>Basically this should behave as if they were one single editor:</p>

  <ul>
    <li>Up at the top of an editor should jump to the same position in the last line of the previous editor</li>
    <li>Left at the start of an editor should jump to the end of the last line of the previous editor</li>
    <li>Bottom at the bottom of an editor should jump to the same position in the first line of the next editor</li>
    <li>Right at the end of an editor should jump to the start of the first line of the next editor</li>
  </ul>

  {{!--
    maybe some outer component to handle it?
    but if we can focus programatically & know cursor position relative to the
    editor then it might not be necessary.
  --}}
  {{#content-kit-group as |g|}}
    {{!--
      These could be sub-classes with extra behaviour or something if needed?
      {{content-kit-group-editor}}
    --}}
    {{content-kit-editor}}
    {{content-kit-editor}}
    {{content-kit-editor}}
  {{/content-kit-group}}
</div>

<div class="experiment">
  <h2>Focusing</h2>

  <p>
    Related to the previous experiment, we should be able to programatically focus the editor externally.
  </p>

  <p>
    <button {{action (action "focusStart")}}>Focus Start</button>
    <button {{action (action "focusEnd")}}>Focus End</button>
  </p>

  {{content-kit-editor}}

</div>